<form method="post" action="/users" accept-charset="UTF-8">
	<label>Username</label><br>
	<input type="text" name="username"></input><br>
	<label>Email</label><br>
	<input type="email" name="email"></input><br>
	<label>Password</label><br>
	<input type="password" name="password"></input><br>
	<input type="submit">
</form>