<form method="post" action="/users/create" accept-charset="UTF-8">
	<label>Username</label><br>
	<input type="text"></input><br>
	<label>Email</label><br>
	<input type="text"></input><br>
	<label>Password</label><br>
	<input type="password"></input><br>
	<input type="submit">
</form>